In [1]:
def division(x, M=997):
    return abs(x)%M

In [4]:
print(division(-35026))
print(division(35026))
print(division(35027))

for i in range(10):
    print(i, ' => ', division(i))

131
131
132
1  =>  0
1  =>  1
1  =>  2
1  =>  3
1  =>  4
1  =>  5
1  =>  6
1  =>  7
1  =>  8
1  =>  9

In [3]:
def mitad_cuadrado(x, k=10, w=32):
    mask = (1 << k)  - 1
    return ((x**2) >> (w-k)) & mask

In [6]:
print(mitad_cuadrado(-35026))
print(mitad_cuadrado(35026))
print(mitad_cuadrado(35027))
for i in range(10):
    print(i, ' => ', mitad_cuadrado(i))

292
292
292
0  =>  0
1  =>  0
2  =>  0
3  =>  0
4  =>  0
5  =>  0
6  =>  0
7  =>  0
8  =>  0
9  =>  0

In [7]:
def multiplication(x, k=10, w=32, a=2654435769):
    mask = (1 << k) - 1
    return ((a*x) >> (w-k)) & mask

In [8]:
print(multiplication(-35026))
print(multiplication(35026))
print(multiplication(35027))
for i in range(10):
    print(i, ' => ', multiplication(i))

759
264
897
0  =>  0
1  =>  632
2  =>  241
3  =>  874
4  =>  483
5  =>  92
6  =>  725
7  =>  334
8  =>  966
9  =>  575

In [10]:
# fibonacci

In [11]:
import pandas as pd
import numpy as np
from io import StringIO

In [17]:
datos = \
    """A, B, C, D
    1.0, 2.3, 3.5, 4.8
    5.4, 6.1,, 8.4
    9.1, 0.3, 1.8,
    """
df = pd.read_csv(StringIO(datos))
df

     A    B    C    D
0  1.0  2.3  3.5  4.8
1  5.4  6.1  NaN  8.4
2  9.1  0.3  1.8  NaN

In [19]:
df.isnull().sum()

A     0
 B    0
 C    1
 D    1
dtype: int64

In [20]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.3  3.5  4.8

In [22]:
df.dropna(axis=1)

     A    B
0  1.0  2.3
1  5.4  6.1
2  9.1  0.3

In [29]:
df.dropna(how='all')

     A    B    C    D
0  1.0  2.3  3.5  4.8
1  5.4  6.1  NaN  8.4
2  9.1  0.3  1.8  NaN

In [33]:
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.3  3.5  4.8

In [46]:
c

KeyError: ['C']

In [51]:
# Asignación de valores
datos_c = df.copy()
for col in df.columns.values:
    falta = np.sum(df[col].isnull())
    if falta:
        print('{} valores asignados en columna {}'.format(falta, col))
        mean = df[col].mean()
        datos_c[col] = df[col].fillna(mean)
datos_c

1 valores asignados en columna  C
1 valores asignados en columna  D

     A    B     C    D
0  1.0  2.3  3.50  4.8
1  5.4  6.1  2.65  8.4
2  9.1  0.3  1.80  6.6

In [52]:
from sklearn.impute import SimpleImputer

In [54]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean', verbose=1)
imp.fit(df.values)
datos_n = imp.transform(df.values)
datos_n

array([[1.  , 2.3 , 3.5 , 4.8 ],
       [5.4 , 6.1 , 2.65, 8.4 ],
       [9.1 , 0.3 , 1.8 , 6.6 ]])

In [55]:
import pandas as pd
df = pd.DataFrame([
    ['a', np.nan],
    ['b', 'y'],
    ['b', 'x'],
    ['c', 'y'],
    [np.nan, 'z'],
])
imp = SimpleImputer(strategy='most_frequent')
print(imp.fit_transform(df))

[['a' 'y']
 ['b' 'y']
 ['b' 'x']
 ['c' 'y']
 ['b' 'z']]

In [56]:
df = pd.DataFrame([
    ['verde', 'M', 10.3, 'clase1'],
    ['azul', 'G', 14.2, 'clase2'],
    ['rojo', 'XG', 15.6, 'clase1'],
])
df.columns=['color', 'talla', 'precio', 'clase']
df

   color talla  precio   clase
0  verde     M    10.3  clase1
1   azul     G    14.2  clase2
2   rojo    XG    15.6  clase1

In [57]:
type(df)

pandas.core.frame.DataFrame

In [58]:
talla_map = {'XG':3, 'G':2, 'M':1}
df.talla = df['talla'].map(talla_map)
df

   color  talla  precio   clase
0  verde      1    10.3  clase1
1   azul      2    14.2  clase2
2   rojo      3    15.6  clase1

In [59]:
df.clase.values

array(['clase1', 'clase2', 'clase1'], dtype=object)

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le = LabelEncoder()
le.fit(df.clase.values)
le.classes_

LabelEncoder()

In [64]:
clase_map = {et:idx for idx, et in
    enumerate(np.unique(df.clase))
}
clase_map

{'clase1': 0, 'clase2': 1}

In [65]:
df.clase = df.clase.map(clase_map)
df

   color  talla  precio  clase
0  verde      1    10.3      0
1   azul      2    14.2      1
2   rojo      3    15.6      0

In [67]:
color_map = {et:idx for idx,et in 
            enumerate(np.unique(df.color))}
color_map #esto no es buena idea

{'azul': 0, 'rojo': 1, 'verde': 2}

In [69]:
color_map = [[et, idx] for idx,et in 
            enumerate(np.unique(df.color))]

In [71]:
# one hot
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(color_map)
ohe.transform(color_map).toarray()

array([[1., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 1.]])

In [72]:
pd.get_dummies(df[['precio', 'color', 'talla']])

   precio  talla  color_azul  color_rojo  color_verde
0    10.3      1           0           0            1
1    14.2      2           1           0            0
2    15.6      3           0           1            0

In [73]:
pd.get_dummies(df[['precio', 'color', 'talla']], drop_first=True)

   precio  talla  color_rojo  color_verde
0    10.3      1           0            1
1    14.2      2           0            0
2    15.6      3           1            0