In [14]:
import pandas as pd
import numpy as np

In [4]:
base = 'data/NASA/'
an_df = pd.read_csv(base+'antartica_mass.csv')
print(an_df.shape)
an_df.head()

(195, 4)

   year  day  antartica_mass_GT  antartica_sigmadeviation
0  2002   29               0.00                    178.90
1  2002   35              18.36                    102.47
2  2002   62             -59.82                     83.09
3  2002   71              45.54                     97.19
4  2002   79              62.69                     61.82

In [5]:
gn_df = pd.read_csv(base+'greenland_mass.csv')
print(gn_df.shape)
gn_df.head()

(195, 4)

   year  day  greenland_mass_GT  greenland_sigma_deviation
0  2002   29               0.00                     134.28
1  2002   35              70.88                      70.59
2  2002   62            -217.33                      53.36
3  2002   71            -238.82                      64.95
4  2002   79            -206.42                      39.05

In [17]:
an_gn_df = pd.DataFrame()
an_gn_df["year"] = an_df["year"]
an_gn_df["antartica_mass"] = an_df["antartica_mass_GT"]
an_gn_df["greenland_mass"] = gn_df["greenland_mass_GT"]
an_gn_df.head()

   year  antartica_mass  greenland_mass
0  2002            0.00            0.00
1  2002           18.36           70.88
2  2002          -59.82         -217.33
3  2002           45.54         -238.82
4  2002           62.69         -206.42

In [33]:
years = np.concatenate((an_gn_df["year"].to_numpy(), an_gn_df["year"].to_numpy()))
mass = np.concatenate((an_gn_df["antartica_mass"].to_numpy(), an_gn_df["greenland_mass"].to_numpy()))
land = np.concatenate((np.array(["antartica"]*195), np.array(["greenland"]*195)))
an_gn_df_2 = pd.DataFrame()
an_gn_df_2["year"] = years
an_gn_df_2["mass"] = mass
an_gn_df_2["land"] = land
an_gn_df_2.tail()

     year     mass       land
385  2020 -4922.87  greenland
386  2020 -4900.20  greenland
387  2021 -4839.46  greenland
388  2021 -4901.41  greenland
389  2021 -4894.67  greenland

In [34]:
an_gn_df_2.to_csv(base + "antartica_greenland_mass.csv", index=False)

In [12]:
gmsl_df = pd.read_csv(base + 'gmsl.csv')
print(gmsl_df[gmsl_df.year_fraction_of_year >= 2002].shape)
gmsl_df.head()

(703, 2)

   year_fraction_of_year    GMSL
0            1993.011526  -38.59
1            1993.038692  -41.97
2            1993.065858  -41.93
3            1993.093025  -42.67
4            1993.120191  -37.86

In [35]:
co2_df = pd.read_csv(base + 'co2_mm.csv')
co2_df.head()

   year  month   co2_avg
0  1958      3    315.70
1  1958      4    317.45
2  1958      5    317.51
3  1958      6    317.24
4  1958      7    315.86

In [37]:
co2_df_2 = pd.DataFrame()
co2_df_2["year"] = co2_df.year
co2_df_2["label"] = np.array(["CO2"]*co2_df.shape[0])
co2_df_2["co2"] = co2_df.co2_avg
co2_df_2.head()

   year label       co2
0  1958   CO2    315.70
1  1958   CO2    317.45
2  1958   CO2    317.51
3  1958   CO2    317.24
4  1958   CO2    315.86

In [38]:
co2_df_2.to_csv(base + 'co2_modified.csv', index=False)

In [73]:
co2_an_gn_df = an_gn_df_2
co2_levels = []
for idx, row in co2_an_gn_df.iterrows():
    year = row["year"]
    levels = co2_df[co2_df["year"] == year]
    L = []
    for l in levels["co2_avg"]:
        S = ''
        for c in l:
            if c != ' ': S+= c
        L.append(float(S))
    co2_levels.append(round(np.mean(L),2))

In [75]:
co2_an_gn_df["co2"] = co2_levels
co2_an_gn_df.head()

   year   mass       land     co2
0  2002   0.00  antartica  373.45
1  2002  18.36  antartica  373.45
2  2002 -59.82  antartica  373.45
3  2002  45.54  antartica  373.45
4  2002  62.69  antartica  373.45

In [77]:
co2_an_gn_df.to_csv(base + 'co2_an_gn.csv', index=False)

In [78]:
co2_antartica_df = co2_an_gn_df[co2_an_gn_df["land"] == 'antartica'].loc[:, ['year', 'mass', 'co2']]
co2_antartica_df.head()

   year   mass     co2
0  2002   0.00  373.45
1  2002  18.36  373.45
2  2002 -59.82  373.45
3  2002  45.54  373.45
4  2002  62.69  373.45

In [79]:
co2_antartica_df.to_csv(base + 'co2_antartica.csv', index=False)

In [80]:
co2_greenland_df = co2_an_gn_df[co2_an_gn_df["land"] == 'greenland'].loc[:, ['year', 'mass', 'co2']]
co2_greenland_df.head()

     year    mass     co2
195  2002    0.00  373.45
196  2002   70.88  373.45
197  2002 -217.33  373.45
198  2002 -238.82  373.45
199  2002 -206.42  373.45

In [81]:
co2_greenland_df.to_csv(base + 'co2_greenland.csv', index=False)